.advantages {
  padding: 75px 0px;
  &__header {
    margin: 0 auto;
    width: 370px;
    font-size: 30px;
    font-weight: 900;
    color: rgb(57, 57, 57);
    line-height: 36px;
    text-align: center;
  }
  &__wrapper {
    margin-top: 50px;
    display: grid;
    grid-template: repeat(3, minmax(auto, auto)) / repeat(2, 1fr);
  }
  &__item {
    position: relative;
    &_text {
        padding: 40px 110px;
      width: 100%;
      height: 150px;
      background: rgba($color: #000000, $alpha: 0.5);
      font-size: 23px;
      color: rgb(255, 255, 255);
      line-height: 1.13;
      text-align: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
