.footer {
  background: #0082a1;
  color: white;
  padding: 50px 0px 40px;
  ul {
    padding: 0;
    list-style-type: none;
    li {
        font-size: 14px;
        font-weight: 300;
    }
  }
  &__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
  }
  &__header {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.188;
  }
}
// .Отрасли_Промышленность_Ритейл_Фасилити_Логистик {
//   font-size: 16px;
//   font-family: "Roboto";
//   color: rgb(255, 255, 255);
//   font-weight: bold;
//   line-height: 1.188;
//   text-align: left;
//   position: absolute;
//   left: 1216.672px;
//   top: 5240.313px;
//   width: 117px;
//   height: 150px;
//   z-index: 5;
// }
