.footer {
  background: #0082a1;
  color: white;
  padding: 50px 0px 40px;

  ul {
    padding: 0;
    list-style-type: none;
    li {
      font-size: 14px;
      font-weight: 300;

      img {
        display: block;
        margin: 20px 0px;
      }
    }
  }
  &__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 490px 335px repeat(2, 1fr);
    justify-content: space-between;
  }
  &__item {
    padding-right: 40px;
  }
  &__header {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.188;
  }
  &__divider {
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  &__info {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
  }
}
