.header {
  padding: 20px 0;
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, auto));
    grid-template-rows: auto;
  }
  &__item {
    display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: 0.1rem;
  }
  &__flag {
    img {
      width: auto;
    }
  }
  &__itemText {
    b {
      font-size: 14px;
    }
    font-size: 12px;
    color: rgb(36, 36, 36);
    line-height: 1.286;
  }
}
// .Luxembourg_2_Rue_d_Avalon__L_1159_Luxembourg_te {
//   font-size: 14px;
//   font-family: "Roboto";
//   color: rgb(36, 36, 36);
//   font-weight: bold;
//   line-height: 1.286;
//   text-align: left;
// }
