.header {
  padding: 20px 0;
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(5, minmax(auto, auto));
    grid-template-rows: auto;
  }
  &__item {
    display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: 0.1rem;
  }
  &__flag {
    img {
      width: auto;
    }
  }
  &__itemText {
    b {
      font-size: 14px;
    }
    font-size: 12px;
    color: rgb(36, 36, 36);
    line-height: 1.286;
  }
}
