@media (max-width: 1200px) {
  .promo {
    &__header {
      h2 {
        font-size: 35px;
      }
      h1 {
        font-size: 20px;
      }
      .button {
        width: 210px;
        height: 50px;
        font-size: 14px;
      }
    }
  }
  .withPrengi {
    &__midLine {
      &_text {
        font-size: 35px;
      }
    }
  }
  .advantages {
    &__item {
      &_text {
        font-size: 17px;
      }
    }
  }
}
