@media (max-width: 1200px) {
  .promo {
    &__header {
      h2 {
        font-size: 35px;
      }
      h1 {
        font-size: 20px;
      }
      .button {
        width: 210px;
        height: 50px;
        font-size: 14px;
      }
    }
  }
  .withPrengi {
    &__midLine {
      &_text {
        font-size: 35px;
      }
    }
  }
  .advantages {
    &__item {
      &_text {
        font-size: 17px;
      }
    }
  }
  .schema {
    .container {
      transform: translateX(52%);
    }
  }
  .contacts {
    &__btn {
      width: 210px;
      height: 50px;
      font-size: 14px;
    }
  }
}

@media (max-width: 992px) {
  .promo {
    &__nav {
      grid-template-columns: 1fr 3fr;
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__wrapper {
      grid-template-columns: repeat(3, minmax(auto, auto));
      column-gap: 5px;
    }
    &__itemText {
      font-size: 10px;
    }
  }
  .promo {
    .humburger {
      display: flex;
    }
    &__siteGuide {
      display: none;
    }
  }
  .withPrengi {
    &__wrapper {
      grid-template-columns: 1fr;
      row-gap: 10px;
    }
  }
  .solutions {
    min-height: 400px;
    background: url("../../img/solutions/solutions_bg_634.webP") center
      (center / cover) no-repeat;
    &__tabs {
      ul {
        li {
          min-width: unset;
          font-size: 10px;
        }
      }
    }
  }
  .advantages {
    &__item {
      &_text {
        padding: 20px;
        height: 100px;
        font-size: 14px;
      }
    }
  }
  .schema {
    .header {
      font-size: 24px;
    }
    .text {
      font-size: 14px;
    }
  }

  .footer {
    &__wrapper {
      grid-template-columns: 1fr;
    }
    &__item {
      text-align: center;
      padding-right: unset;
      ul {
        li {
          img {
            margin: 20px auto;
          }
        }
      }
    }
  }
}
