@media (max-width: 1200px) {
  .promo {
    &__header {
      h2 {
        font-size: 35px;
      }
      h1 {
        font-size: 20px;
      }
      .button {
        width: 210px;
        height: 50px;
        font-size: 14px;
      }
    }
  }
  .withPrengi {
    &__midLine {
      &_text {
        font-size: 35px;
      }
    }
  }
  .advantages {
    &__item {
      &_text {
        font-size: 17px;
      }
    }
  }
  .schema {
    .container {
      transform: translateX(52%);
    }
  }
  .contacts {
    &__btn {
      width: 210px;
      height: 50px;
      font-size: 14px;
    }
  }
}

@media (max-width: 992px) {
  .promo {
    &__nav {
      grid-template-columns: 1fr 3fr;
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__wrapper {
      grid-template-columns: repeat(2, minmax(auto, auto));
      gap: 5px;
      justify-content: center;
    }
    &__itemText {
      font-size: 10px;
    }
  }
  .promo {
    .humburger {
      display: flex;
    }
    &__siteGuide {
      display: none;
    }
  }
  .withPrengi {
    &__wrapper {
      grid-template-columns: 1fr;
      row-gap: 10px;
    }
  }
  .solutions {
    min-height: 400px;
    background: url("../../img/solutions/solutions_bg_634.webP") center
      (center / cover) no-repeat;
    &__tabs {
      ul {
        li {
          min-width: unset;
          font-size: 10px;
        }
      }
    }
  }
  .advantages {
    &__item {
      &_text {
        padding: 20px;
        height: 100px;
        font-size: 14px;
      }
    }
  }
  .schema {
    .header {
      font-size: 24px;
    }
    .text {
      font-size: 14px;
    }
  }

  .footer {
    &__wrapper {
      grid-template-columns: 1fr;
    }
    &__item {
      text-align: center;
      padding-right: unset;
      ul {
        li {
          img {
            margin: 20px auto;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .promo {
    h2 {
      font-size: 30px;
    }
    h1 {
      font-size: 17px;
    }
  }
  .withPrengi {
    &__midLine {
      &_text {
        font-size: 30px;
      }
    }
  }
  .solutions {
    &__tabs {
      height: auto;
      ul {
        display: block;
        margin: 0;
        li {
          border-right: unset;
        }
      }
    }
    .slider {
      &__prev {
        left: 0;
      }
      &__next {
        right: 0;
      }
    }
  }
  .advantages {
    &__header {
      width: auto;
    }
    &__wrapper {
      grid-template: auto / auto;
    }
  }
  .schema {
    .wrapper {
      flex-direction: column;
      &__left {
        width: auto;
        height: 350px;
      }
      &__right {
        width: auto;
        height: 350px;
      }
    }
    &__header {
      margin: 42px auto;
      font-size: 24px;
    }
    &__items {
      margin: 0 auto;
      grid-template: auto / auto;
      gap: 50px;
      .header {
        font-size: 20px;
      }
    }
    &__cloud {
      text-align: center;
      &:after {
        top: 0px;
        right: 5px;
      }
      h2 {
        font-size: 20px;
      }
    }
    &__server {
      text-align: center;
      &:after {
        top: 15px;
        left: 5px;
      }
      h2 {
        font-size: 20px;
      }
    }
  }
  .contacts {
    &__header {
      font-size: 25px;
    }
  }
}
