@media (max-width: 1200px) {
  .promo {
    &__header {
      h2 {
        font-size: 35px;
      }
      h1 {
        font-size: 20px;
      }
      .button {
        width: 210px;
        height: 50px;
        font-size: 14px;
      }
    }
  }
  .withPrengi {
    &__midLine {
      &_text {
        font-size: 35px;
      }
    }
  }
  .advantages {
    &__item {
      &_text {
        font-size: 17px;
      }
    }
  }
  .schema {
    .container {
      transform: translateX(52%);
    }
  }
  .contacts {
    &__btn {
      width: 210px;
      height: 50px;
      font-size: 14px;
    }
  }
}

@media (max-width: 992px) {
  .promo {
    &__nav {
      grid-template-columns: 1fr 3fr;
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__wrapper {
      grid-template-columns: repeat(3, minmax(auto, auto));
      column-gap: 5px;
    }
    &__itemText {
      font-size: 10px;
    }
  }
  
}
