.overlay {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  .modal {
    display: none;
    position: absolute;
    padding: 80px 40px;
    border-radius: 10px;
    border: none;
    background: rgba(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    min-height: 400px;
    &__close {
      position: absolute;
      top: 0;
      right: 10px;
      color: $mainColor;
      font-size: 32px;
      cursor: pointer;
    }
    ul {
      list-style-type: none;
      li {
        text-align: center;
        margin-top: 10px;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 2;
        a {
          &:hover {
            color: $mainColor;
          }
        }
      }
    }
    form {
      display: grid;
      grid-template-columns: minmax(300, auto);
      grid-template-rows: repeat(4, 60px);
      row-gap: 40px;
      input {
        padding: 5px 10px;
        border-radius: 10px;
        border: 1px rgba(0, 0, 0, 0.2) solid;
      }
      .button {
        @include button;
        margin: 0 auto;
      }
    }
  }
}
