.promo {
  position: relative;
  min-height: 700px;
  padding: 40px 0 0 0;
  background: url("../../img/promo/promo_bg.jpg") center (center/cover)
    no-repeat;
  .humburger {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
    span {
      display: block;
      width: 30px;
      height: 2px;
      margin-top: 5px;
      background: $mainColor;
    }
  }
  &__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  &__siteGuide {
    ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      li {
        font-size: 13px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 2;
        a {
          &:hover {
            color: $mainColor;
          }
        }
      }
    }
  }
  &__wrapper {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }
  &__header {
    margin-top: 106px;
    color: rgb(255, 255, 255);
    h2 {
      font-size: 42px;
      line-height: 1.143;
    }
    h1 {
      margin-top: 30px;
      font-size: 24px;
      font-weight: 300;
      line-height: 1.25;
    }
    .button {
      @include button;
    }
  }
  // &__img {
  //   justify-self: end;
  // }
}