.schema {
  position: relative;

  .wrapper {
    display: flex;
    justify-content: center;
    background-color: rgba($color: #000000, $alpha: 0.5);
    z-index: 2;

    &__left {
      width: 50%;
      height: 580px;
      background: url("../../img/schema/cloud480.jpg") center (center/cover)
        no-repeat;
        z-index: -1;
    }
    &__right {
      width: 50%;
      height: 580px;
      background: url("../../img/schema/server480.jpg") center (center/cover)
        no-repeat;
        z-index: -1;
    }
  }
  .container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  &__header {
    text-align: center;
  }
}
