.schema {
  position: relative;

  .wrapper {
    display: flex;
    justify-content: center;
    background-color: rgba($color: #000000, $alpha: 0.5);
    z-index: 2;

    &__left {
      width: 50%;
      height: 580px;
      background: url("../../img/schema/cloud480.jpg") center (center/cover)
        no-repeat;
      z-index: -1;
    }
    &__right {
      width: 50%;
      height: 580px;
      background: url("../../img/schema/server480.jpg") center (center/cover)
        no-repeat;
      z-index: -1;
    }
  }
  .container {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
  }
  &__header {
    margin: 80px auto;
    max-width: 375px;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    line-height: 1.2;
  }
  &__items {
    margin: 130px auto;
    // margin-left: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 160px;
    // justify-content: center;
    font-size: 18px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    line-height: 1.444;
    .header {
      padding: 0;
      margin: 0;
      font-size: 30px;
      font-weight: 900;
      text-transform: uppercase;
    }
    .text {
      margin-top: 30px;
    }
  }
  &__cloud {
    position: relative;
    text-align: end;
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: -20px;
      right: -40px;
      width: 165px;
      height: 165px;
      background-color: rgba(53, 132, 151, 0.5);
      z-index: -1;
    }
  }
  &__server {
    position: relative;
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: -20px;
      left: -40px;
      width: 165px;
      height: 165px;
      background-color: rgba(53, 132, 151, 0.5);
      z-index: -1;
    }
  }
}
