.withPrengi {
  &__wrapper {
    margin: 80px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    justify-content: space-between;
  }
  &__item {
    position: relative;
    &_img {
      img {
        width: 100%;
        height: 100%;
      }
    }
    &_descr {
      min-width: 230px;
      text-align: center;
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__midLine {
    &_wrapper {
      margin: 50px auto;
      text-align: center;
      .arrow {
        margin-bottom: -5px; // Можно сделать иначе
      }
    }
    &_text {
      margin-top: 35px;
      font-size: 48px;
      color: rgb(57, 57, 57);
      font-weight: bold;
      line-height: 0.625;
    }
  }
}
