@import "libs/bootstrap-reboot.min";
@import "libs/fonts";
@import "base/variables";
@import "base/mixins";

* {
    font-family: 'Roboto';
}
.container {
    margin: 0 auto;
    width: 1140px;
    // background: rgba(157, 230, 181, 0.5);
}

a {
    text-decoration: none;
    color: unset;
}

@import "blocks/_header.scss";
@import "blocks/_promo.scss";
@import "blocks/withPrengi";
@import "blocks/solutions";
@import "blocks/advantages";
@import "blocks/schema";
@import "blocks/contacts";
@import "blocks/footer";
@import "blocks/modal";
